<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Leave Management</title>
<link rel="stylesheet" href="/styles.css" />
</head>
<body>
    <div style='background-color: #93B5EF; text-align: center;'>
        <button class="topHeader"></button>  
        <img src="images/expand.png" class = "imageL" alt="hide menu"   />
        <img src="images/school.png" class = "imageL" alt="hide menu"   />
        <img src="images/User.png" alt="Logout"  class = "imageR">
        <img src="images/task-icon-png-3.png" class = "imageR" alt="Task">
            <img src="images/notification.png"  class = "imageR" alt="Notification">
            <p class="badge">3</p>
        </a>
        </div>

        <div id="main">
            <ul class = "nav">
            <li><a class="active" href="/">Utama</a></li>
            <li><a href="/hourlyleave">Permohonan</a></li>
            <li><a href="#tempoh">Kelulusan</a></li>
            
          </ul> </div>
<br><br>
<h1>Permohonan Keluar</h1>
<br><br>

<div class="aleave">
<form class="cuti" action="/hourlyleave" method="POST">
<label class="tarikh">Tarikh </label> 
<input class="tt" type="date" placeholder="" name="applydate"> <br><br>
<label class="nama">Nama</label>
<input type="text"class="name" name="name"> <br><br>
<p class="one">Masa Keluar</p> <p class="two">Masa Masuk</p><br>
<label class="masa"></label>
<input class="t" type="time" placeholder="" name="leavetime">
<label class="masuk"></label>
<input class="t"  type="time" placeholder="" name="entertime">
<br><br>
<p class="perkara">Perkara</p>
<textarea name="reason"></textarea>
<br>
<button type="submit"  class="hantar">Hantar</button>




</form> </div>


<div id="popup1" class="overlay">
	<div class="popup">
		
		<a class="close" href="/hourlyleave">&times;</a>
		<div class="content">
			Permohonan keluar anda berjaya dihantar.
		</div>
	</div>
</div>


<script>


</script>

<!--<h2>Quotes</h2>

<ul>for (var i=0; i<quotes.length; i++) {%>
    <li><span> quotes[i].name %></span>
        <span><quotes[i].quote %></span>
    
    </li>



 } %>

</ul>-->


</body>

</html>