<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
<link rel="stylesheet" type="text/css" href="main.css">
<script src = "login.js" type="text/javascript"></script>
<!-- JavaScript -->
<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "200px";
  document.getElementById("main").style.marginLeft = "200px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}

document.getElementById('select-all').onclick = function() {
  var checkboxes = document.querySelectorAll('input[type="checkbox"]');
  for (var checkbox of checkboxes) {
    checkbox.checked = this.checked;
  }
}

 function checkAll(checkname, bx) {
        for (i = checkname.length; i--; )
            checkname[i].checked = bx.checked;
    }

    function checkPage(bx){                    
        for (var tbls = document.getElementsByTagName("table"),i=tbls.length; i--; )
            for (var bxs=tbls[i].getElementsByTagName("input"),j=bxs.length; j--; )
               if (bxs[j].type=="checkbox")
                   bxs[j].checked = bx.checked;
    }

    $(function(){
    $( "input[type=checkbox]" ).on("change", function(){
        if($(this).is(':checked'))
            $(this).parent().css('background-color', '#93B5EF');
        else
            $(this).parent().css('background-color', '');
    });
});
</script>
</head>
<body>
<!-- top navigation -->
<div style='background-color: #93B5EF; text-align: center;'>
<button class="topHeader"></button>  
<img src="images/expand.png" class = "imageL" alt="hide menu"  onclick="openNav()">
<img src="images/skse.png" class = "imageL" alt="hide menu">
<img src="images/User.png" alt="Logout" onclick="window.location.href = '/';"  class = "imageR">
<img src="images/task-icon-png-3.png" onclick="window.location.href = '#';" class = "imageR" alt="Task">
<a href="#" >
  <img src="images/notification.png" onclick="window.location.href = '#';" class = "imageR" alt="Notification">
  <!-- <p class="badge">3</p> -->
</a>
</div>
<!-- Sidebar -->
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a href="#">E Tugasan</a>
  <a href="#">E Kehadiran</a>
</div>       


<div id="main">
<div style="box-shadow: 0 8px 6px -6px black;">
<ul>
    <li><a href="/test">Utama</a></li>
    <li><a  href="/completeProfile">Atur Tugasan</a></li>
    <li ><a href="/pengurusanTugas">Pengurusan Tugas</a></li>  
    <li ><a href="#about">Ketersediaan</a></li>
</ul>

<div class="dropdown">
  <button class="dropbtn">Mesyuarat</button>
  <div class="dropdown-content">
          <a href="/manageMeetingInvitation">Atur Jemputan</a>
          <a href="/meetingInfo">Minit Mesyuarat</a>
          <a href="/viewMeetingInfo">Senarai Minit Mesyuarat</a>
      </div>  
      </div>
</div>

  <div class="container"> <!-- Form -->
    
  <h2><b>Atur Jemputan Mesyuarat</b></h2>

   <form action="/pengurusanTugas" method="POST" id="usrform">
  <!-- <form action="/quotes" method="POST"> -->
     <div class="row">
       <div class="col-25">
      <label for="peranan">Peranan</label></div>
           <div class="col-75" style="font-size: 15px;">
          <input type="radio" id="peranan" name="peranan" value="Penganjur" required>Penganjur</div>
	      <div class="col-75" style="font-size: 15px;">
	          <input type="radio" id="peranan" name="peranan" value="Pencatat Minit Mesyuarat" required>Pencatat Minit Mesyuarat</div></div>

    <div class="row">
      <div class="col-25">
      <label for="taskCategory">Kategori * </label>
        </div>
        <div class="col-75">
          <select id="taskCategory" name="task" required>
            <option value="Mesyuarat Rasmi">Mesyuarat Rasmi</option>
            <option value="Mesyuarat Tidak Rasmi">Mesyuarat Tidak Rasmi</option>
          </select>
        </div></div>

         <div class="row">
       <div class="col-25">
      <label for="tarikh">Tarikh * </label></div>
           <div class="col-75">
          <input type="date" id="tarikh" name="tarikh" required></div></div>

       <div class="row">
       <div class="col-25">
      <label for="from">Masa</label></div>
           <div class="col-75">
          <input type="time" id="timefrom" name="from" >
          <input type="time" id="timeto" name="to" ></div>   </div>

       <div class="row">
       <div class="col-25">
       <label for="Lokasi">Lokasi</label></div>
       <div class="col-75">
          <input type="text" id="location" placeholder="Lokasi" name="Lokasi" /></div>
       </div>

        <div class="row">       
       <div class="col-25">
       <label for="Tajuk">Tajuk</label></div>
       <div class="col-75">
          <input type="text" id="title" placeholder="Tajuk" name="Tajuk" /></div></div>

       <div class="row"> 
      <div class="col-25">
      <label for="Agenda">Agenda</label></div>
      <div class="col-75">
          <textarea rows="4" cols="50" name="Agenda" form="usrform" placeholder="Agenda" id="notes"></textarea></div></div>

      <table style="margin-top: 80px;" action="/getInvitation" method = "GET">
        <tr>
          <th> <input type="checkbox" onclick="checkPage(this)" id="name1" name="name1" value="name1">Nama</th>
          <th>Ketersediaan</th>
          <th>Peranan</th>
        </tr>
         <% for(var i = 0; i < userprofile.length; i++) {%>
        <tr>
          <td><input type="checkbox" id="name1" name="name1[]" value="<%= userprofile[i].fullname %>" for="perananAhli"> &nbsp; <%= userprofile[i].fullname %></td>
          <td>n/a</td>
          <td><select id="name1" name="perananAhli">
          	<option value="" disabled selected hidden>Peranan Ahli...</option>
            <option value="Penghadir">Penghadir</option>
            <option value="Pencatat Minit">Pencatat Minit</option>
          </select>
		 </td>
        </tr>
         <% } %>
      </table>
      <br>
           <div id="tasksdiv" class="row" style="margin-right: 15%;">
            <input id="tasksbtn" type="submit" value="Hantar"></div>
        </form>

  </div>

</div>

</body>
</html>